*, *::before, *::after {
    box-sizing: border-box;
}
/*=====================
    Body and Layout
=======================*/
body{
    font-family: Arial, sans-serif;
    margin: 10px auto;
    padding: 0;
    width: fit-content;
    border-radius: 15px;
    background-color: #f0f0f0;
    border: 3px dashed #ccc;    
}
/*==========================
    header, main, footer
============================*/
header, main, footer {
    margin: 10px;
    width: 450px;
    height: auto;
    border-radius: 10px;
}
/*=============
    header
===============*/
header, footer {
    background-color: #d7d7d7;
    color: rgb(22, 22, 22);
    padding: 10px;
    text-align: center;
}
/*======================
    main and sections
========================*/
main {
    background-color: #ffffff;
    color: rgb(22, 22, 22);
    padding: 10px;
    height: 400px;
}
#controls, #color-scheme, #color-scheme-hex {
    display: flex;
    flex-direction: row;
}
#controls {
    height: 22%;
    padding: 10px;
    cursor: pointer;
}
#color-scheme{
    margin-top: 10px;
    height: 68%;
}
#color-scheme-hex{
    height: 10%;
}
/*======================
main > section - 1
========================*/

#controls {
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #ccc;
}
.color-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.color-picker-container {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}
.color-picker-container:hover {
    transform: scale(1.1);
}
#color-picker{
    position: absolute;
    height: 100px;
    width: 100px;
    
} 
select#colors{
    width: 180px;
    padding: 5px;
    border-radius: 10px;
}
#generate-btn{
    width: 25%;
    height: auto;
    padding: 15px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 6px;
}
#generate-btn:hover {
  background: #555;
}

/*======================
    main > section - 2
========================*/
.color-card{
    flex: 1;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.color-card:hover {
    transform: scale(1.05);
}
.hex-code{
    flex: 1;
    margin: auto;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
}
/*======================
    main > section - 3
========================*/
/*==============
    footer
================*/
footer {
    font-size: 0.9em;
}
footer p {
    margin: 5px 0;
}
footer a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}